body{
  background-color: #ffffff;
}

#block{

  margin: 0 auto;
}

.quotes{
  width: 33%;
  margin: auto;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;
}

.quote{
  font-size: 30px;
  color: black;
}

.author{
  font-size: 20px;
  font-style: italic;
  color: black;
}
